# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# Project specifics
api/data.db
api/output.json

# Node
node_modules/
dist/
dist-ssr/
*.local
.npm/

# IDE
.vscode/
.idea/
.DS_Store

# Env files
.env
